
<div class="hm-content">
<carousel
    [images]="bannerImages"
    [objectFit]="'cover'"
    [cellWidth]="'100%'"
    [height]=500
    [autoplay]="true"
    [dots]="true"
    [loop]="true"
    [cellsToShow]="1"
    >
  </carousel>

<div class="container hm-inner-body-wrapper">
<div class="hm-browser-section">
<div><h2>Browse by section </h2></div>
<button mat-stroked-button color="accent" (click)="browserSection('allbnbs')">Bread and Breakfast</button>
<button mat-stroked-button color="accent" (click)="browserSection('hotel')">Hotels</button>
<button mat-stroked-button color="accent" (click)="browserSection('bar')">Bars</button>
<button mat-stroked-button color="accent" (click)="browserSection('Restaurant')">Restaurants</button>
<button mat-stroked-button color="accent" (click)="browserSection('club')">Clubs</button>
</div>
<!-- Diver line -->
<hr>
<!-- Diver line -->
<!-- most view -->
<div class="hm-most-view-wrapper mt-5">
<div class="hm-heading"><h2>You might be like<span><a (click)="ViewAll('')" href="javascript:;" mat-stroked-button color="accent">Explore in Ireland<mat-icon>chevron_right</mat-icon></a></span></h2></div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let element of mightLikeList; let i = index" >
    <mat-card class="short-card" (click)="mostViewDetailPage(element.resource_id)">
      <img src="../assets/image/bars/bar1/bar_1.jpeg">
      <mat-card-content>
        <span class="category">{{element.resource_category}}</span>
        <h2>{{element.resource_name}}</h2>
        <h3>€ {{element.resource_price}} <span>(for 2)</span></h3>
        <p>{{element.resource_address}}</p>
        </mat-card-content>
    </mat-card>
  </ng-template>
</owl-carousel-o>
</div>
<!-- End most view -->

<!-- Diver line -->
<hr>
<!-- Diver line -->
<div class="hm-bnb-wrapper">
  <div class="container">
    <div class="row">
    <div class="col-md-4">
    <h1>BNB Near you</h1>
    <h3>We think you'd enjoy these last moment stay homes for a quick trip out of town.</h3>
    </div>
    <div class="col-md-8">
      <div class="row">
          <div class="isBNBVisible mb-3 col-md-4" *ngFor="let element of clubHouse">
            <mat-card class="example-card" (click)="viewBNBDetailPage(element.id)">
              <img mat-card-image src="{{element.image[0]}}" alt="Property Photo">
              <mat-card-content>
                <p><b>B&B</b></p>
              <h2>€ {{element.Price}}</h2>
              <p>{{element.address}}</p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-stroked-button color="accent">View More</button>
              </mat-card-actions>
            </mat-card>
        </div>
  </div>

      <owl-carousel-o class="isBNBVisible-slider" [options]="customOptions">
        <ng-template carouselSlide *ngFor="let element of bnbList; let i = index" >
          <mat-card class="short-card" (click)="viewBNBDetailPage(element.bnb_id)">
            <img class="mb-2" src="../assets/image/BB/BB2/1.jpeg">
            <mat-card-content>
              <span class="category">B&B</span>
              <h2>{{element.bnb_name}}</h2>
              <h3>€ {{element.bnb_price_range}} <span>(for 2)</span></h3>
              <p>{{element.bnb_address}}</p>
              </mat-card-content>
          </mat-card>
        </ng-template>
      </owl-carousel-o>
  </div>
</div>
</div><!-- end of hm-bnb-wrapper -->


<!-- Diver line -->
<hr>
<!-- Diver line -->

<!-- hm-club Start -->
<div class="hm-club-wrapper d-lg-flex">
  <div class="container">
    <div class="row">
    <div class="col-md-8 order-2 order-md-1">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let element of clubsList; let i = index" >
            <mat-card class="short-card" (click)="mostViewDetailPage(element.resource_id)">
              <img class="mb-2" src="../assets/image/bars/bar1/bar_2.jpeg">
              <mat-card-content>
                <span class="category">{{element.resource_category}}</span>
                <h2>{{element.resource_name}}</h2>
                <h3>€ {{element.resource_price}} <span>(for 2)</span></h3>
                <p>{{element.resource_address}}</p>
                </mat-card-content>
            </mat-card>
          </ng-template>
        </owl-carousel-o>
    </div>
    <div class="col-md-4 order-1 order-md-2">
      <h1>Clubs Near you</h1>
      <h3>Still night is Young!</h3>
  </div>
  </div>
</div>
</div><!-- end of hm-club-wrapper -->

<!-- Diver line -->
<hr>
<!-- Diver line -->

<!-- hm-restaurant Start -->
<div class="hm-restaurant-wrapper d-lg-flex">
  <div class="container">
  <div class="row">
  <div class="col-md-2">
      <div class="hm-heading"><h2>Explore Popular Restaurant near you<span><a (click)="ViewAll('restaurant')" href="javascript:;" mat-stroked-button color="accent">Explore in Ireland<mat-icon>chevron_right</mat-icon></a></span></h2></div>
  </div>
  <div class="col-md-10">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let element of restaurantsList; let i = index" >
            <mat-card class="short-card" (click)="mostViewDetailPage(element.resource_id)">
              <img class="mb-2" src="../assets/image/restaurants/rest1/1_2.jpeg">
              <mat-card-content>
                <span class="category">{{element.resource_category}}</span>
                <h2>{{element.resource_name}}</h2>
                <h3>€ {{element.resource_price}} <span>(for 2)</span></h3>
                <p>{{element.resource_address}}</p>
                </mat-card-content>
            </mat-card>
          </ng-template>
        </owl-carousel-o>
  </div>
</div>
</div>
</div><!-- end of hm-restaurant-wrapper -->

<!-- hm-hotel Start -->
<div class="hm-hotel-wrapper d-lg-flex">
  <div class="container">
    <div class="hm-hotel-heading"><h2>Explore Popular Hotels near you<span><a (click)="ViewAll('hotel')" href="javascript:;" mat-stroked-button color="accent">View More<mat-icon>chevron_right</mat-icon></a></span></h2></div>

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide *ngFor="let element of hotelsList; let i = index" >
            <mat-card class="short-card" (click)="mostViewDetailPage(element.resource_id)">
              <img class="mb-2" src="../assets/image/hotels/hotel1/1.jpeg">
              <mat-card-content>
                <span class="category">{{element.resource_category}}</span>
                <h2>{{element.resource_name}}</h2>
                <h3>€ {{element.resource_price}}</h3>
                <p>{{element.resource_address}}</p>
                </mat-card-content>
            </mat-card>
          </ng-template>
        </owl-carousel-o>

</div>
</div><!-- end of hm-hotel-wrapper -->

</div>
</div>

