
<div class="booking-wrapper">
<h2 mat-dialog-title>Book Appointment</h2>
<div mat-dialog-content>
  <form  name="validateForm" [formGroup]="validateForm" novalidate>

    <mat-form-field class="form-field-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="name" required>
      <mat-icon matSuffix class="secondary-text">user</mat-icon>
      <mat-error *ngIf="validateForm.get('name').hasError('required')">
        Name is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <!-- <mat-icon matSuffix class="secondary-text">mail</mat-icon> -->
      <mat-error *ngIf="validateForm.get('email').hasError('required')">
          Email is required
      </mat-error>
      <mat-error *ngIf="validateForm.get('email').hasError('email')">
          Please enter a valid email address
      </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field-width">
    <mat-label>Mobile Number</mat-label>
    <input matInput formControlName="contactNo" minlength="10" maxlength="10" required>
    <!-- <mat-icon matSuffix class="secondary-text">phone</mat-icon> -->
    <mat-error *ngIf="validateForm.get('contactNo').hasError('required')">
        Mobile number is required!
    </mat-error>
    <mat-error
        *ngIf="!validateForm.get('contactNo').hasError('required') &&
                validateForm.get('contactNo').hasError('mobileErr')">
        Please enter a valid mobile number!
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field-width">
      <mat-label>Gender</mat-label>
      <mat-select name="gender" formControlName="gender" required>
        <mat-option value="M">Male</mat-option>
        <mat-option value="F">Female</mat-option>
        <mat-option value="O">Other</mat-option>
      </mat-select>
        <mat-error>
          Gender is required!
        </mat-error>
  </mat-form-field>

  <mat-form-field class="form-field-width">
    <mat-label>eirCode</mat-label>
    <input matInput formControlName="eirCode" required>
    <mat-icon matSuffix class="secondary-text">user</mat-icon>
    <mat-error *ngIf="validateForm.get('eirCode').hasError('required')">
      eirCode is required!
    </mat-error>
    <mat-error
    *ngIf="!validateForm.get('eirCode').hasError('required') &&
            validateForm.get('eirCode').hasError('expErr')">
    Please enter valid Eir number! (eg: "D01XW74")
  </mat-error>
  </mat-form-field>


  <div class="mt-5">
    <button mat-raised-button color="accent" class="submit-button mt-3 mr-5" aria-label="LOGIN"
    [disabled]="validateForm.invalid" (click)="submitForm(validateForm.value)">
      Create
    </button>

    <button mat-raised-button class="mt-3" (click)="resetForm($event)">
      Reset
    </button>
    <!-- <button class="button button--primary" (click)="showNotification( 'success', 'Notification successfully opened.' )">
			Success me!
		</button> -->
  </div>

  </form>
</div>
</div>
