<div class="container block-wrapper">
<div class="row">
  <div class="col-md-4">
      <!-- Filter Accordion start -->
  <mat-accordion class="filter-wrapper">
    <mat-expansion-panel [expanded]="true" hideToggle class="filter-wrapper">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>filter_alt</mat-icon>
        </mat-panel-title>
        <mat-panel-description>
          Filter
        </mat-panel-description>
      </mat-expansion-panel-header>
  <form name="validateForm" [formGroup]="filterValidateForm" novalidate (ngSubmit)="submitForm(filterValidateForm.value)">
      <section>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Filter By Price</mat-label>
          <mat-select formControlName="price">
            <mat-option value=0>Low to High</mat-option>
            <mat-option value=1>High to Low</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="category-section full-width">
        <p><b>By Categorys</b></p>
        <ul class="checkbox-items">
          <li *ngFor="let item of categorys">
            <mat-checkbox formControlName="categorys" name="categorys" [(ngModel)]="item.isChecked" (change)="changeSelection()">{{item.name}}</mat-checkbox>
          </li>
        </ul>
        <!-- <mat-checkbox  class="mr-3" formControlName="hotel" name="hotel">Hotels</mat-checkbox>
        <mat-checkbox  name="BnB" formControlName="BnB">B&B</mat-checkbox><br>
        <mat-checkbox  name="bar" formControlName="bar">Bar</mat-checkbox><br>
        <mat-checkbox  name="club" class="mr-3" formControlName="club">Clubs</mat-checkbox>
        <mat-checkbox  name="Restaurant"formControlName="Restaurant">Restaurants</mat-checkbox> -->
      </section>
      <section class="category-section">
        <p><b>By Location</b></p>
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>location</mat-label>
          <mat-select formControlName="location">
            <mat-option *ngFor="let element of location" value={{element.value}}>{{element.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </section>
      <section class="category-section full-width">
        <p><b>By Popularity</b></p>
        <ul class="checkbox-items">
          <li *ngFor="let item of ratings">
            <mat-checkbox formControlName="ratings" name="ratings" [(ngModel)]="item.isChecked" (change)="selectRating()">{{item.name}}</mat-checkbox>
          </li>
        </ul>
      </section>
      <button class="mt-2 mr-4" mat-raised-button color="primary">Submit</button>
      <button class="mt-2" mat-stroked-button color="accent" (click)="reset()">Reset</button>
    </form>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- Filter Accordion end -->
    </div>
  <div class="col-md-8">
   <!-- Listing Wrapper start -->
   <div class="listing-wrapper">
    <div class="row">
      <div class="col-md-4" *ngFor="let element of responseBody">
        <mat-card class="example-card">
          <img mat-card-image src="../assets/image/bars/bar1/bar_1.jpeg" alt="Property Photo">
          <mat-card-content>
            <p><b>{{element.resource_category ? element.resource_category : "B&B"}}</b></p>
          <h2>€ {{element.resource_price ? element.resource_price : element.bnb_price_range}} <span>(for 2)</span></h2>
          <p>{{element.resource_address ? element.resource_address : element.bnb_address}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="element.resource_id" mat-stroked-button color="accent" (click)="detailPage(element.resource_id)">View More</button>
            <button *ngIf="element.bnb_id" mat-stroked-button color="accent" (click)="detailPage(element.bnb_id)">View More</button>
          </mat-card-actions>
        </mat-card>
    </div>
    </div>

    </div>
    <!-- Listing Wrapper ends -->

    </div>
</div>
</div>
