<div class="container detail-block-wrapper">

  <div class="basic-container">
    <gallery (click)="lightbox.open(0, 'lightbox',{panelClass: 'fullscreen'})" id="basic-test" [items]="items"></gallery>
  </div>

  <section class="container detail-content-wrapper">
    <div class="row">
      <div class="col-md-8 mt-5">
        <h1>{{responseBody.type}}</h1>
            <h2>€ {{responseBody.Price}}</h2>
        <p>{{responseBody.address}}</p>
        <hr>
        <h2>Description</h2>
        <p>{{responseBody.description}}</p>

        <h2>Property Facilities</h2>
        <mat-chip-list
        class="example-chip"
        cdkDropList
        cdkDropListOrientation="horizontal">
        <mat-chip
            class="example-box"
            cdkDrag
            *ngFor="let item of facilities">
            {{item}}
        </mat-chip>
      </mat-chip-list>
      </div>
      <div class="col-md-4">

        <div class="booking-section">
          <mat-card class="example-card">
            <p>For Viewing This Property Advance Booking Is Mandatory</p>
            <button mat-flat-button color="accent" (click)="openDialog()">Book Appointment</button>
          </mat-card>
        </div>
      </div>
    </div>

  </section>

</div>
