<div class="block-wrapper">
  <mat-card class="card-wrapper">
<div class="d-lg-flex half">
  <div class="bg order-1 order-md-2" style="background-image: url('../../assets/image/bg_1.jpg');"></div>
  <div class="contents order-2 order-md-1">

    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7">
          <div class="mb-4">
            <h2 class="mb-4 mt-4">Sign in to unlock the best of GoSolo.</h2>
            <h3 class="mb-4">Welcome back.</h3>
          </div>
          <form action="#" method="post">
                     <!-- Email address -->
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email ID</mat-label>
              <input matInput>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
                     <!-- Password -->
            <mat-form-field appearance="outline" class="full-width mb-3">
              <mat-label>password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>

            <div class="d-flex mb-5 align-items-center">
              <span class="ml-auto"><a href="javascript:;" class="forgot-pass">Forgot Password</a></span>
            </div>

            <button mat-raised-button color="primary">Login</button>

            <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>

            <button mat-stroked-button color="accent" (click)="signUp()">Create Account</button>
            <div class="social-login">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
</mat-card>
</div>
