<div>
  <div class="row">
    <div class="col-md-4">
      <img src="../assets/image/hotels/hotel_4.jpeg">
      </div>
    <div class="col-md-8">
      <p> Addresssssssssss </p>
      </div>
  </div>
  <h2>Your first-hand experiences really help other travellers. Thanks!</h2>
  <hr>
  <p>Your overall rating of this property</p>
  <mat-radio-group aria-label="Select rating">
    <mat-radio-button value="1">1</mat-radio-button>
    <mat-radio-button value="2">2</mat-radio-button>
    <mat-radio-button value="3">3</mat-radio-button>
    <mat-radio-button value="4">4</mat-radio-button>
    <mat-radio-button value="5">5</mat-radio-button>
  </mat-radio-group>
  <div class="rating-body-wrapper">
  <h4>Title of your review</h4>
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Placeholder" maxlength="100">
  </mat-form-field>
  <h4>Your review Tips for writing a great review</h4>
  <mat-form-field appearance="outline">
    <mat-label>Tell about your experience</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  </div>
</div>
