.review-wrapper {
  margin-top: 80px;
}
.review-wrapper img {
  width: 100%;
}

.review-wrapper .mat-radio-button {
  padding-right: 8px;
}

.review-card {
  width: 60%;
  margin: auto;
}
.full-width {
  width: 100%;
}
.mat-button-toggle-checked {
  background-color: #ffdd4b !important;
}
