<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Home Page * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<mat-toolbar class="hm-topbar-wrapper p-3">
  <span (click)="homepage()">
    <img
    alt="Aauction Logo"
    src="../assets/image/logo.png"
  /></span>

  <div class="menus-item w-100">
    <button mat-button mat-stroked-button color="accent" [matMenuTriggerFor]="menu">Buy</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>All Property</button>
      <button mat-menu-item>Houses</button>
      <button mat-menu-item>Apartments</button>
    </mat-menu>
    <button mat-button mat-stroked-button color="accent" [matMenuTriggerFor]="menu1">Rent</button>
    <mat-menu #menu1="matMenu">
      <button mat-menu-item>All Property</button>
      <button mat-menu-item>Houses</button>
      <button mat-menu-item>Apartments</button>
      <button mat-menu-item>Student Accomodation</button>
      <button mat-menu-item>Holidays Home</button>
      <button mat-menu-item>Short Term</button>
    </mat-menu>
  </div>

  <!-- <div class="menus-item w-100">
    <button mat-button mat-stroked-button color="accent" [matMenuTriggerFor]="menu">Buy</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="BuyMenu('ListOfAllBuyProperty')">All Property</button>
      <button mat-menu-item (click)="BuyMenu('houseForSale')">Houses</button>
      <button mat-menu-item (click)="BuyMenu('apartmentsForSale')">Apartments</button>
    </mat-menu>
    <button mat-button mat-stroked-button color="accent" [matMenuTriggerFor]="menu1">Rent</button>
    <mat-menu #menu1="matMenu">
      <button mat-menu-item (click)="RentMenu('ListOfAllRentProperty')">All Property</button>
      <button mat-menu-item (click)="RentMenu('houseForRent')">Houses</button>
      <button mat-menu-item (click)="RentMenu('apartmentForRent')">Apartments</button>
      <button mat-menu-item (click)="RentMenu('studentAccommodation')">Student Accomodation</button>
      <button mat-menu-item (click)="RentMenu('holidayHomes')">Holidays Home</button>
      <button mat-menu-item (click)="RentMenu('shortTermStay')">Short Term</button>
    </mat-menu>
  </div> -->
</mat-toolbar>


<!-- <app-spinner></app-spinner> -->
<router-outlet></router-outlet>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Home End * * * * * * * * * * * * * * * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Site footer -->
<footer class="site-footer">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h6>About</h6>
      <p class="text-justify">Property Aauction <i>Makes Buy and Sell Property Simple </i> via online portal to help
        the Tenants, Students and Buyer to make their choice simple. Property Aauction focuses on providing the most
        luxury and world class standards property availabe in just simple clicks.</p>
    </div>

    <div class="col-xs-6 col-md-6">
      <h6>Quick Links</h6>
      <ul class="footer-links">
        <li><a href="javascript:;">About Us</a></li>
        <li><a href="javascript:;">Contact Us</a></li>
        <li><a href="javascript:;">Privacy Policy</a></li>
        <li><a href="javascript:;">Sitemap</a></li>
      </ul>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
      <p class="copyright-text">All Rights Reserved by
   <a href="#">Bijendra & Pelumi</a>.
      </p>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
      <ul class="social-icons">
        <li><a class="facebook" href="javascript:;"><i class="fa fa-facebook"></i></a></li>
        <li><a class="twitter" href="javascript:;"><i class="fa fa-twitter"></i></a></li>
        <li><a class="linkedin" href="javascript:;"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</footer>


